/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background-color: #FFFEF8;
	color: #3D3D3D;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	width: 100%;
	text-align: end;
	padding-top: 25px;
	color: #000000;
}

li:hover {
	font-weight: 700;
	cursor: pointer;
}

li img {
	width: 22px;
	height: 22px;
}

li a {
	color: #000000;
	text-decoration: none;
}

footer nav {
	background-color: #ffffff;
	height: 60px;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#portfolio {
	width: 100%;
	max-width: 1140px; 
	margin: 0 auto; 
	text-align: center; 
}

/*filters*/
.filters {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 50px;
	margin: 0 auto;
}

button {
	height: 36px;
	padding: 0 10px;
	min-width: 100px;
	border-radius: 60px;
	border: 1px solid #1d6154;
	background-color: #FFFEF8;
	font-size: 16px;
	font-family: 'Syne';
	color: #1D6154;
}

button:hover,
.is-active {
	cursor: pointer;
	background-color: #1d6154;
	color: #ffffff;
}

button:hover {
	border: 1px solid #1d6154;
}

.is-active:hover {
	border: 1px solid #1d6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 40px;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery figcaption {
	margin-top: 10px;
}

#contact {
	padding-top: 50px;
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

#contact input[type="submit"]:hover {
	cursor: pointer;
	background-color: #0E2F28;
	border: 1px solid #0E2F28;
	color: #ffffff;
}

/*Log in page*/
#login {
	margin-bottom: auto;
	padding: 200px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: #3D3D3D;
}

#login h2 {
	font-size: 30px;
}

#loginForm {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 35%;
	padding-top: 18px;
	font-size: 14px;
}

#login label {
	margin-top: 25px;
}

#login input {
	background-color: #ffffff;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 51px;
	border: none;
	margin-bottom: auto;
}

#login button {
	background-color: #1D6154;
	color: #ffffff;
	font-family: "Syne";
	font-weight: 700;
	margin-top: 25px;
	width: 48%;
	height: 36px;
	text-align: center;
	justify-content: center;
	margin: 37px auto 0 auto;
}

#login button:hover {
	background-color: #0E2F28;
	border: 1px solid #0E2F28;
	color: #ffffff;
}

#login a {
	color: #3D3D3D;
	text-align: center;
	margin-top: 25px;
}

.error-message {
	padding: 10px 0 20px 0;
	color: #d65353;
	text-align: center;
}

/* first modal*/

.modal {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
	
}


.modal-content {
	width: 630px;
    height: 688px;
    overflow-y: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editModal {
	display: none; 
    position: fixed;
    z-index: 1000;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    width: 80%; 
    max-width: 620px;
	max-height: 680px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 8px;

}

.close {
	position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#modalGallery {
margin-bottom: 20px;

}

#modalGallery h2, #addPhotoForm h2{
	font-size: 26px;
	font-family: Work Sans;
	font-weight: 400;
	color: #000000;
	margin-bottom: 30px;
	
}

#modalGallery .modal-work-item {
    position: relative;
    width: 76.86px;
    height: 102.57px;
    opacity: 1;
}

#modalGallery .modal-work-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.trash-icon {
	position: absolute;
	width: 15px;
	height: 15px;
	margin-left: -20px;
	margin-top: 10px;
	cursor: pointer;
	font-size: 10px;
	text-align: center;
	color: #ffffff;
}

.trash-icon:hover {
	background-color: #333333;
}


#addPhotoBtn {
	display: block;
    height: 36px;
    cursor: pointer;
    max-width: 260px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 10px 20px;
    background-color: #1D6154;
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
}

#addPhotoBtn:hover {
	background-color: #145440;
}

#imagePreview img {
	max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#uploadForm h2 {
	margin-bottom: 20px;
}
#uploadForm {
	width: 420px;
	padding: 36px 0 30px 0;
	display: flex;
	flex-flow: column;
}

#uploadForm input[type="file"],
#uploadForm input[type="text"],
#uploadForm button {
	background: #ffffff;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 51px;
	border: none;
	padding:  0 28px 0 16px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #444444;
	margin-top: 10px;
}
#image {
	display: none;
}

.upload-photo-box{
	background: #e8f1f7;
	border-radius: 3px;
	height: 180px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}
.upload-photo-box i{
	color: #B9C5CC;
	font-size: 4.7em;
	margin-top: -10px;
}

.upload-photo-box p{
	font-size: 12px;
}

.upload-photo-box img.selected-image {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	border-radius: 3px;
  }
  


#validate-button{
	border-top: 1px solid #b3b3b3;
	margin-top: 47px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#addPhotoForm button {
	background-color: #1d6154;
	color: white;
	cursor: pointer;
}

#addPhotoForm button:hover {
	background-color: #145440;
}


.back-arrow {
	font-size: 24px;
	cursor: pointer;
	margin-bottom: 10px;
	color: #1d6154;
}

.header-container {
	display: flex;
	justify-content: center; 
	margin-top: 12%;
}

#myProjectsTitle {
	margin: 0;
}

.modify-button {
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	font-family: Work Sans;
	font-size: 14px;
	border: none;
}



.hide {
	display: none !important;
}

.show {
	display: flex !important;
}

.hide {
    display: none !important;
}


.show {
    display: inline !important; 
}

.hidden {
    display: none !important;
}