/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background-color: #FFFEF8;
	color: #3D3D3D;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	width: 100%;
	text-align: end;
	padding-top: 25px;
	color: #000000;
}

li:hover {
	font-weight: 700;
	cursor: pointer;
}

li img {
	width: 22px;
	height: 22px;
}

li a {
	color: #000000;
	text-decoration: none;
}

footer nav {
	background-color: #ffffff;
	height: 60px;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#portfolio {
	width: 100%;
	max-width: 1140px; 
	margin: 0 auto; 
	text-align: center; 
}

/*filters*/
.filters {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 50px;
	margin: 0 auto;
}

button {
	height: 36px;
	padding: 0 10px;
	min-width: 100px;
	border-radius: 60px;
	border: 1px solid #1d6154;
	background-color: #FFFEF8;
	font-size: 16px;
	font-family: 'Syne';
	color: #1D6154;
}

.header-container {
	display: inline-flex;
	padding: 20px;
}

.header-container h2 {
	margin: 0;

}


button:hover,
.is-active {
	cursor: pointer;
	background-color: #1d6154;
	color: #ffffff;
}

button:hover {
	border: 1px solid #1d6154;
}

.is-active:hover {
	border: 1px solid #1d6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 40px;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery figcaption {
	margin-top: 10px;
}

#contact {
	padding-top: 50px;
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

#contact input[type="submit"]:hover {
	cursor: pointer;
	background-color: #0E2F28;
	border: 1px solid #0E2F28;
	color: #ffffff;
}

/*Log in page*/
#login {
	margin-bottom: auto;
	padding: 200px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: #3D3D3D;
}

#login h2 {
	font-size: 30px;
}

#loginForm {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 35%;
	padding-top: 18px;
	font-size: 14px;
}

#login label {
	margin-top: 25px;
}

#login input {
	background-color: #ffffff;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	height: 51px;
	border: none;
	margin-bottom: auto;
}

#login button {
	background-color: #1D6154;
	color: #ffffff;
	font-family: "Syne";
	font-weight: 700;
	margin-top: 25px;
	width: 48%;
	height: 36px;
	text-align: center;
	justify-content: center;
	margin: 37px auto 0 auto;
}

#login button:hover {
	background-color: #0E2F28;
	border: 1px solid #0E2F28;
	color: #ffffff;
}

#login a {
	color: #3D3D3D;
	text-align: center;
	margin-top: 25px;
}

.error-message {
	padding: 10px 0 20px 0;
	color: #d65353;
	text-align: center;
}

/* Styles de base pour les modales */

/******************* Modal *******************/

.modal {
    display: none;
    position: fixed; 
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.30);
}

.modal-content {
    display: flex;
    flex-direction: column;
	justify-content: space-between;
    align-items: center;
    position: relative;
    width: 630px;
    height: 688px;
    padding: 60px 105px 45px 105px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}


.icon-close {
    position: absolute;
    top: 26px;
    right:30px;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.icon-back {
	position: absolute;
    top: 26px;
    left:30px;
    font-size: 21px;
    cursor: pointer;
}

.modal-header {
	text-align: center;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 46px;
}


/******************* Modal Gallery *******************/

.gallery-btn {
	font-family: Syne;
    color: white;
    background-color: #1D6154;  
    border: none; 
    border-radius: 60px; 
    padding: 10px 49px; 
    margin-top: 38px;
	cursor: pointer;
    transition: background-color 0.6s, transform 0.6s;
}

.gallery-btn:hover {
	background-color: #0E2F28;
}

.gallery-body { 
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    padding-bottom: 68px;
    border-bottom: 1px solid lightgrey;
}

.fa-trash-can {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 11px;
    border-radius: 3px;
    padding: 4px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.gallery-body article {
    position: relative;
}

.gallery-body img {
    width: 100%;
    height: 100px;
	margin-bottom: 15px;
}

.gallery-modal {
    z-index: 2000;
}


/******************* Modal Add Photo *******************/

.form-content {
    width: 420px;
	border-bottom: 1px solid lightgrey;
}

.form-add-photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8F1F6;
    padding-bottom: 19px;
    margin-bottom: 30px;
    border-radius: 3px;
    width: 100%;
    height: 169px;
    box-sizing: border-box;
}

.form-add-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/** Submit Button **/

#form-button-submit {
    font-family: Syne;
    color: white;
    width: 237px;
    border-radius: 60px;
    padding: 10px 49px;
    border: none;
    background-color: #A7A7A7;
    margin-top: 32px;
    transition: background-color 0.6s, transform 0.6s;
}

#form-button-submit.active {
    background-color:#1D6154;
    cursor: pointer;
}

#form-button-submit.active:hover {
    background-color:#0E2F28;
}

/** Photo Form **/

.form-button-add-photo {
    color: #306685;
    background-color: #CBD6DC;
    padding: 10px 33px;
    margin-bottom: 7px;
    border-radius: 50px;
    z-index: 1; 
    cursor: pointer;
    transition: background-color 0.6s, transform 0.6s;
  }

.form-button-add-photo:hover { 
    background-color: #A7A7A7;
    color: #FFF;
  }

.fa-image:before {
    font-size: 76px;
    color: #CBD6DC;
}

.fa-image { 
    margin-top: 13px;
    margin-bottom: 6px;
}

.form-work-photo {
    display: none;
}

.trash-icon-preview {
    top: 165px;
    right: 120px;
    font-size: 15px;
}

/** InuptTitle Form **/

.form-title {
    display: flex;
    flex-direction: column;
    color: #3D3D3D;
    margin-bottom: 21px;
    width: 100%;
}

.form-title-work { 
    width: 100%;
    height: 51px;
    padding: 16px;
    margin-top: 10px;
    border: 2px solid #FFF;
    color: #444;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    box-sizing: border-box;
}

#input-title:focus {
    border-color: #1D6154;
    border-radius: 5px;
    outline: none;
}

/** Category Form **/

.form-categories {
    position: relative;
    width: 100%;
    color: #3D3D3D;
    margin-bottom: 47px;
}

.form-categories select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-categories .select-icon {
    position: absolute;
    top: 42px;
    right: 30px;
    pointer-events: none;
    font-size: 16px;
    color: #3D3D3D;
}

#categories {
    width: 100%;
    height: 51px;
    margin-top: 10px;
    padding: 16px 60px 16px 16px;
    border: 2px solid #fff;
    color: #444;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    box-sizing: border-box;
    background-color: white; 
}

#categories:focus {
    background-color: white; 
    border: 2px solid #1D6154; 
    border-radius: 5px;
    outline: none; 
}

/** Error message **/

.error-message {
    color: red;
}

.file-error-message {
    color: red;
    margin-top: 25px;
}

.form-title .error-message,
.form-categories .error-message {
    visibility: hidden;
}

.form-title .error-message.active,
.form-categories .error-message.active {
    visibility: visible;
    color: red;
    margin-top: 3px;
    margin-bottom: -17px;
}


/******************* Modal Confirma Delete Project *******************/

.small-modal {
	width: 400px;
    height: 300px;
    padding: 45px 30px 45px 30px;
	z-index: 2001;
    box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.confirmation-modal {
    z-index: 2001;
}

.confirmation-modal .modal-footer {
	margin-top: 25px;
}

.modal-btn {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
	width: 120px;
    color: white;
    background-color: #1D6154;
    border: none;
    border-radius: 60px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-btn:hover {
    background-color: #0E2F28;
}

.cancel-btn {
	background-color: #A7A7A7;
}

.cancel-btn:hover {
	background: #0E2F28;
}

/******************* Modal Succes Project *******************/

.success-modal .modal-content {
    width: 300px;
    height: 150px;
	font-size: 16px;
	font-weight: 900;
	text-align: center;
	justify-content: center;
}

.success-modal .icon-close {
	top: 15px;
    right: 15px;
    font-size: 20px;
}